<div class="m-3">
  <h1>E-Learning y Formación</h1>
  <h3>
    Hola <strong>USUARIO ADMINISTRADOR</strong>, este es el progreso general de
    la formación.
  </h3>
  <div class="container text-center mt-4">
    <form [formGroup]="courseForms">
      <p-multiSelect
        (onChange)="muestraPST()"
        [style]="selectStyles"
        [options]="cursos"
        formControlName="selectedCursos"
        optionLabel="fullname"
      ></p-multiSelect>
      <p-multiSelect
        [style]="selectStyles"
        [options]="psts"
        formControlName="selectedPSTs"
        optionLabel="name"
      ></p-multiSelect>
    </form>
    <div class="accordion" id="accordionMincit">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOneMincit">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOneMincit"
            aria-expanded="true"
            aria-controls="collapseOneMincit"
          >
            Analítica de Datos
          </button>
        </h2>
        <div
          id="collapseOneMincit"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOneMincit"
          data-bs-parent="accordionMincit"
        >
          <div class="row">
            <div class="col">
              <div class="card p-2">
                <form [formGroup]="selectedFilters1">
                  <p-multiSelect
                    (onChange)="buscaMunicipios1()"
                    [style]="selectStyles"
                    [options]="deptos"
                    formControlName="selectedDeptos1"
                    optionLabel="dpto"
                  ></p-multiSelect>
                  <p-multiSelect
                    [style]="selectStyles"
                    [options]="mpios1"
                    formControlName="selectedMpios1"
                    optionLabel="nom_mpio"
                  ></p-multiSelect>
                  <p-multiSelect
                    [style]="selectStyles"
                    [options]="TipoPST"
                    formControlName="selectedTipos1"
                    optionLabel="tipo"
                  ></p-multiSelect>
                </form>
                <p-chart
                  type="doughnut"
                  [data]="basicData"
                  [options]="basicOptions"
                ></p-chart>
              </div>
            </div>
            <div class="col">
              <div class="card p-2">
                <form [formGroup]="selectedFilters2">
                  <p-multiSelect
                    (onChange)="buscaMunicipios2()"
                    [style]="selectStyles"
                    [options]="deptos"
                    formControlName="selectedDeptos2"
                    optionLabel="dpto"
                  ></p-multiSelect>
                  <p-multiSelect
                    [style]="selectStyles"
                    [options]="mpios2"
                    formControlName="selectedMpios2"
                    optionLabel="nom_mpio"
                  ></p-multiSelect>
                  <p-multiSelect
                    [style]="selectStyles"
                    [options]="TipoPST"
                    formControlName="selectedTipos2"
                    optionLabel="tipo"
                  ></p-multiSelect>
                </form>
                <p-chart
                  #chart
                  type="doughnut"
                  [data]="basicData2"
                  [options]="basicOptions2"
                ></p-chart>
              </div>
            </div>
            <div class="col">
              <div class="card p-2 flex justify-content-center">
                <form [formGroup]="selectedFilters3">
                  <p-multiSelect
                    (onChange)="buscaMunicipios3()"
                    [style]="selectStyles"
                    [options]="deptos"
                    formControlName="selectedDeptos3"
                    optionLabel="dpto"
                  ></p-multiSelect>
                  <p-multiSelect
                    [style]="selectStyles"
                    [options]="mpios3"
                    formControlName="selectedMpios3"
                    optionLabel="nom_mpio"
                  ></p-multiSelect>
                  <p-multiSelect
                    [style]="selectStyles"
                    [options]="TipoPST"
                    formControlName="selectedTipos3"
                    optionLabel="tipo"
                  ></p-multiSelect>
                  <p-chart
                    type="doughnut"
                    [data]="basicData3"
                    [options]="basicOptions3"
                  ></p-chart>
                </form>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col"></div>
          </div>
          <div class="col">
            <a
              target="_blank"
              href="http://54.225.85.252/moodle/"
              class="btn btn-success"
              >Ir a Moodle</a
            >
          </div>
          <div class="btn btn-warning" (click)="listarPST()">"Oprime"</div>
          <div class="col"></div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwoMincit">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwoMincit"
              aria-expanded="true"
              aria-controls="collapseTwoMincit"
            >
              Información PST
            </button>
          </h2>
          <div
            id="collapseTwoMincit"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwoMincit"
            data-bs-parent="accordionMincit"
          >
            <select
              (change)="onSelectChange($event)"
              class="form-select m-3"
              aria-label="Default select example"
              id="PSTSelect"
            >
              <option selected>PSTs</option>
              <option value="1">PST 1</option>
              <option value="2">PST 2</option>
            </select>
            <app-e-learning-panel
              *ngIf="selectedValue"
              [inputFromMinCIT]="selectedValue"
            ></app-e-learning-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
