<form [formGroup]="courseForms">
      
    <p-multiSelect
      (onChange)="muestraPST()"
      [style]="selectStyles"
      [options]="cursos"
      formControlName="selectedCursos"
      optionLabel="fullname"
    ></p-multiSelect>
    <p-multiSelect
      [style]="selectStyles"
      [options]="psts"
      formControlName="selectedPSTs"
      optionLabel="name"
    ></p-multiSelect>
    <p-multiSelect
    (onChange)="buscaMunicipios1()"
    [style]="selectStyles2"
    [options]="deptos"
    formControlName="selectedDeptos1"
    optionLabel="dpto"
  ></p-multiSelect>
  <p-multiSelect
    [style]="selectStyles2"
    [options]="mpios1"
    formControlName="selectedMpios1"
    optionLabel="nom_mpio"
  ></p-multiSelect>
  <p-multiSelect
    [style]="selectStyles2"
    [options]="TipoPST"
    formControlName="selectedTipos1"
    optionLabel="tipo"
  ></p-multiSelect>
  </form>
